@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #500000;
    --secondary-color: #fff;
}

.sub-header h3{
    color: #fff;
    font-family: "Montserrat";
}

nav{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
}

nav img{
    width: 50px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: "Montserrat";
}

.nav-links ul li::after{
    content: ' ';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa-times-circle{
    display: none;
}

nav .fa-chevron-circle-down{
    display: none;
}

nav .fa-home{
    font-size: 30px;
}

.credits{
    width: auto;
    text-align: center;
    background: #500000;
    color: #fff;
    font-weight: 300;
}
/*      --Service--     */

.pictureframe-service{
    min-height: 50vh;
    width: 100%;
    display: flex;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-position: center;
    background-size: cover;
}

.pictureframe-service h1{
    width: 50%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 62px;
    font-family: "Montserrat";
}

.services{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.service-col{
    flex-basis: 48%;
    padding: 0 2px;
}

.service-col img{
    width: 100%;
}

.service-col h1{
    padding-top: 0;
    font-family: "Montserrat";
}

.service-col p{
    padding: 15px 0 25px;
}


.services ul {
    list-style: none;
}

.services ul li::before{
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}


.second-level li{
    color: black;
    margin-left: 3rem;
}

.third-level li{
    margin-left: 5rem;
}

.fourth-level li{
    margin-left: 7rem;
}

.credits{
    width: auto;
    text-align: center;
    background: #500000;
    color: #fff;
    font-weight: 300;
} 

/* Assignment 2 css */

.similarities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.similarities p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin: 5%;
    display: flex;
    justify-content: center;
}

.similarities-col{
    flex-basis: 60%;
    background: #500000;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.similarities-col, .similarites-media, h3{
    text-align: center;
    margin: 10px 0;
    color: #fff;
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 600;
}

.similarites-media {
    margin-left: 10%;
    margin-right: 10%;
    flex-basis: 5%;
    background: #500000;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.similarities-col:hover, .similarites-media:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,1);
}

.similarities #title{
    color: #500000;
}

.similarites-media #sub-header{
    font-size: 25px;
    padding-top: 2%;
}

.similarites-media ul, li{
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

.similarites-media a:visited{
    color:#FFCC70;
}
